@import '../node_modules/bootstrap/scss/bootstrap';

.logo {
    max-width: 75px;
}

ul {
    padding-left: 0;
    margin: 0;

    &.social-icons {
        li {
            display: inline-block;
            margin-right: 12px;
            font-size: 1.2rem;
        }
    }

    &.links {
        li {
            @include media-breakpoint-up(md) {
                margin: 0 16px;
            }
        }
    }

    li {
        list-style-type: none;
        a {
            text-decoration: none;
            color: var(--bs-teal);

            &:hover {
                color: var(--bs-dark);
            }
        }
    }
}