@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';

@import '../node_modules/bootstrap/scss/maps';
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/root';

@import '../node_modules/bootstrap/scss/utilities';
@import '../node_modules/bootstrap/scss/reboot';

@import '../node_modules/bootstrap/scss/containers';
@import '../node_modules/bootstrap/scss/grid';
@import '../node_modules/bootstrap/scss/helpers';

@import '../node_modules/bootstrap/scss/buttons';

@import '../node_modules/bootstrap/scss/utilities/api';

:root {
    --transition: all 0.3s linear;
}

.logo {
    max-width: 75px;
}

.nav-header button {

    i {
        transition: var(--transition);
    }

    &.collapsed {
        i {
            transform: rotate(90deg);
        }
    }
}

ul {
    padding-left: 0;
    margin: 0;

    &.social-icons {
        li {
            display: inline-block;
            margin-right: 12px;
            font-size: 1.2rem;
        }
    }

    &.links {
        height: 0;
        overflow: hidden;
        transition: var(--transition);
        @include media-breakpoint-up(md) {
            height: auto;
        }
        li {
            @include media-breakpoint-up(md) {
                margin: 0 16px;
            }
        }

        &.collapsed {
            height: 6rem;
            @include media-breakpoint-up(md) {
                height: auto;
            }
        }
    }

    li {
        list-style-type: none;
        a {
            text-decoration: none;
            color: var(--bs-teal);

            &:hover {
                color: var(--bs-dark);
            }
        }
    }
}